*{box-sizing:border-box}
body{font-family:'Roboto',sans-serif;background:#212121;color:#fafafa;font-size:14px;line-height:22px}
h1,h2,h3,h4,h5,h6{line-height:110%;margin:0;font-family:'Roboto',sans-serif;font-weight:500;color:#fff}
h1{font-size:48px}
h2{font-size:36px}
h3{font-size:28px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:14px}
a{color:#fff}
a:hover{color:#fff;text-decoration:none}
a:focus{outline:0}

.icon{display:inline-block;width:1em;height:1em;stroke-width:0;stroke:currentColor;fill:currentColor}

.wrapper{display:flex;background-color:#212121;width:100%;height:auto;padding:200px 20px 50px}

.profile-card{width:100%;min-height:460px;margin:auto;box-shadow:0 8px 60px -10px rgba(13,28,39,.6);background:#262626;border-radius:12px;max-width:700px;position:relative}

.profile-card__img{width:150px;height:150px;margin-left:auto;margin-right:auto;transform:translateY(-50%);border-radius:50%;overflow:hidden;position:relative;z-index:4;border:7px solid #ffffff}
.profile-card__img img{display:block;width:100%;height:100%;object-fit:cover;border-radius:50%}

.profile-card__cnt{margin-top:-35px;text-align:center;padding:0 20px;padding-bottom:40px;transition:all .3s}

.profile-card__name{font-size:34px;font-weight:700;color:#ffffff;margin-bottom:30px}

.profile-card__txt{font-size:18px;font-weight:500;color:#fafafa;line-height:1.5em;margin-bottom:20px}
.profile-card__txt strong{font-weight:700}

.profile-card-loc{display:flex;justify-content:center;align-items:center;font-size:18px;font-weight:600}
.profile-card-loc__icon{display:inline-flex;font-size:27px;margin-right:10px}

.profile-card-social{margin-top:25px;display:flex;justify-content:center;align-items:center;flex-wrap:wrap}
.profile-card-social__item{display:inline-flex;width:55px;height:55px;margin:15px;border-radius:50%;align-items:center;justify-content:center;color:#fff;background:#405de6;box-shadow:0 7px 30px rgba(43,98,169,.5);position:relative;font-size:21px;flex-shrink:0;transition:all .3s}
.profile-card-social__item.facebook{background:linear-gradient(45deg,#3b5998,#0078d7);box-shadow:0 4px 30px rgba(43,98,169,.5)}
.profile-card-social__item.twitter{background:linear-gradient(45deg,#1da1f2,#0e71c8);box-shadow:0 4px 30px rgba(19,127,212,.7)}
.profile-card-social__item.github{background:linear-gradient(45deg,#333333,#626b73);box-shadow:0 4px 30px rgba(63,65,67,.6)}
.profile-card-social__item.codepen{background:linear-gradient(45deg,#324e63,#414447);box-shadow:0 4px 30px rgba(55,75,90,.6)}
.profile-card-social__item.link{background:linear-gradient(45deg,#d5135a,#f05924);box-shadow:0 4px 30px rgba(223,45,70,.6)}

@media screen and (max-width:768px){
.wrapper{height:auto;min-height:100vh;padding-top:100px}
.profile-card-social__item{width:50px;height:50px;margin:10px}
}

@media screen and (min-width:768px){
.profile-card-social__item:hover{transform:scale(1.2)}
}

@media screen and (max-width:576px){
.profile-card__img{width:120px;height:120px}
}